extends layouts/main.pug

block content
    h1= title
    form(method="post")
        input(placeholder="login" type="text")
        input(placeholder="password" type="password")
        button(type="submit")
